<ion-header>
  <ion-title>Made by Nic ❤</ion-title>
</ion-header>

<ion-content class="gradient-background">
  <ion-title>Camisas</ion-title>
  <ion-slides [options]="option" class="ion-carousel">
    <ion-slide>
      <ion-card>
        <img
          src="https://raw.githubusercontent.com/nitolly/imagens/main/WhatsApp%20Image%202023-06-02%20at%2019.49.11.jpeg"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://st.depositphotos.com/1040166/2355/i/600/depositphotos_23556703-stock-photo-girl-in-white-t-shirt.jpg"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://cdn.xxl.thumbs.canstockphoto.com.br/desgastar-mulher-camisa-amarela-em-branco-sorrindo-foto_csp18701276.jpg"
          alt=""
        />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-title>Shortinhos</ion-title>
  <ion-slides [options]="option" class="ion-carousel">
    <ion-slide>
      <ion-card>
        <img
          src="https://raw.githubusercontent.com/nitolly/imagens/main/WhatsApp%20Image%202023-06-02%20at%2019.49.11%20(1).jpeg"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://pitbulljeans.com.br/media/catalog/product/cache/0/image/800x1067/9df78eab33525d08d6e5fb8d27136e95/s/h/short-38868-1.jpg"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://imgcentauro-a.akamaihd.net/900x900/96917302/short-feminino-oxer-corrida-basico-img.jpg"
          alt=""
        />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-title>Casaco</ion-title>
  <ion-slides [options]="option" class="ion-carousel">
    <ion-slide>
      <ion-card>
        <img
          src="https://raw.githubusercontent.com/nitolly/imagens/main/WhatsApp%20Image%202023-06-02%20at%2019.49.12.jpeg"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://cdn.vnda.com.br/lolja/2023/02/22/21_22_05_30_moletom-preto-feminino-1391-53e793cf619861d4ec16764706788136-1024-1024.jpg?v=1677111725"
          alt=""
        />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://cdn.vnda.com.br/lolja/2023/02/22/21_41_10_826_moletom-feminino-preto-351-0243c16d6c0a03297216528826294670-1024-1024.png?v=1677112870"
          alt=""
        />
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
